html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 64px;
    padding-bottom: 64px;
}

.content {
    max-width: 1250px;
    margin: 140px 80px;
}

.task {
    display: flex;
    justify-content: center;
}

.taskLeftSide,
.taskRightSide {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;
    flex: 1;
}

.inputs,
.textarea,
.combobox {
    width: 100%;
    padding: 8px;
    margin: 8px 0;
    border: 1px solid rgba(95, 92, 92, 0.2);
    font-size: 16px;
    box-sizing: border-box;
    border-radius: 10px;
}

.textarea {
    height: 120px;
    resize: none;
}


.prioButtons {
    display: flex;
    justify-content: space-between;
    gap: 8px;
}

.prioButtons button {
    padding: 8px;
}

.divider {
    background-color: rgba(95, 92, 92, 0.2);
    width: 2px;
    height: 424px;
    margin: 0 42px 0 60px;
}

.all {
    width: 100%;
}

@media (min-width: 1650px) {
    .content {
        margin: 140px auto;
    }
}

@media (max-width: 1000px) {
    .task {
        flex-direction: column;
    }

    .divider {
        display: none;
    }

    .taskRightSide {
        margin-top: 8px;
    }

    h1 {
        text-align: center;
    }
}


.combobox {
    height: 36px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.combobox img {
    width: 8px;
    height: auto;
    cursor: pointer;
}

.checkBoxItems {
    border: 1px solid rgba(95, 92, 92, 0.2);
    border-radius: 10px;
    border-top: none;
    max-height: 200px;
    overflow: scroll;
}

.checkBoxItems .item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
    padding: 8px;
}

.checkBoxItems img {
    height: 16px;
    width: auto;
    margin: 0 16px;
}

.checkBoxItems label {
    flex-grow: 1;
}

.checkBoxItems input{
    margin-right: 16px;
}

.checkbox{
    background-color: white;
}