<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../css/template.css" />
        <link rel="stylesheet" href="../../css/fonts.css" />
        <link rel="stylesheet" href="../css/modal-add-Task.css" />
        <script src="../js/script.js"></script>
        <script src="../js/addTask.js"></script>
        <link rel="icon" type="image/x-icon" href="../../img/logo.svg" />
        <title>Add Task</title>
    </head>

    <body onload="initTask()"></body>
</html>
